<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
        .image-thumbail {
            height: 200px;
            object-fit: cover;
        }
    </style>
</head>

<body class="m-5">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="card">
                    <ul class=" list-group list-group-flush">
                        <li class="list-group-item">All</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A third item</li>
                        <a href="{% url 'add' %}" class="btn btn-dark btn-block btn-sm m-1">Add Photo</a>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row 3">


                    <div class="col-md-4">
                        <div class="card">
                            <img class="image-thumbail"
                                src=" https://www.thesprucepets.com/thmb/gY_3zGT4Nasd_NM2QYu1iNj-6s8=/1080x721/filters:no_upscale():max_bytes(150000):strip_icc()/cutest-cats-on-the-internet-4-57eeab3c5f9b586c3549f9c2.jpeg"
                                class="card-img-top" alt="...">

                            <div class="card-body">
                                <small> Cateegory:Pets </small>

                            </div>
                            <a href="{% url 'photo' 5 %}" class="btn btn-outline-dark btn-sm- m-1">View</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="image-thumbail"
                                src=" https://www.thesprucepets.com/thmb/gY_3zGT4Nasd_NM2QYu1iNj-6s8=/1080x721/filters:no_upscale():max_bytes(150000):strip_icc()/cutest-cats-on-the-internet-4-57eeab3c5f9b586c3549f9c2.jpeg"
                                class="card-img-top" alt="...">

                            <div class="card-body">
                                <small> Cateegory:Pets </small>

                            </div>
                            <a href="{% url 'photo' 5 %}" class="btn btn-outline-dark btn-sm- m-1">View</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="image-thumbail"
                                src=" https://www.thesprucepets.com/thmb/gY_3zGT4Nasd_NM2QYu1iNj-6s8=/1080x721/filters:no_upscale():max_bytes(150000):strip_icc()/cutest-cats-on-the-internet-4-57eeab3c5f9b586c3549f9c2.jpeg"
                                class="card-img-top" alt="...">

                            <div class="card-body">
                                <small> Cateegory:Pets </small>

                            </div>
                            <a href="{% url 'photo' 5 %}" class=" btn btn-outline-dark btn-sm- m-1">View</a>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="card">
                            <img class="image-thumbail"
                                src=" https://www.thesprucepets.com/thmb/gY_3zGT4Nasd_NM2QYu1iNj-6s8=/1080x721/filters:no_upscale():max_bytes(150000):strip_icc()/cutest-cats-on-the-internet-4-57eeab3c5f9b586c3549f9c2.jpeg"
                                class="card-img-top" alt="...">

                            <div class="card-body">
                                <small> Cateegory:Pets </small>

                            </div>
                            <a href="{% url 'photo' 5 %}" class="btn btn-outline-dark btn-sm- m-1">View</a>
                        </div>
                    </div>

                    <div class="col-md-4 ">
                        <div class="card">
                            <img class="image-thumbail"
                                src=" https://www.thesprucepets.com/thmb/gY_3zGT4Nasd_NM2QYu1iNj-6s8=/1080x721/filters:no_upscale():max_bytes(150000):strip_icc()/cutest-cats-on-the-internet-4-57eeab3c5f9b586c3549f9c2.jpeg"
                                class="card-img-top" alt="...">

                            <div class="card-body">
                                <small> Cateegory:Pets </small>

                            </div>
                            <a href="{% url 'photo' 5 %}" class="btn btn-outline-dark btn-sm- m-1">View</a>
                        </div>
                    </div>

                </div>
            </div>

</body>

</html>